:root {
  --dark-500: #414141;
  --dark-600: #2e2e2e;
  --dark-600-light: rgba(46, 46, 46, 0.25);
  --primary-300: #ffcc21;
  --primary-400: #ff963c;
  --gray: #777777;
}

/* BACKGROUND */
.bg-dark {
  background-color: var(--dark-500);
}
.bg-overlay {
  background-color: var(--dark-600-light);
}
.bg-yellow-custom {
  background-color: var(--primary-300);
}
.bg-gradient {
  background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
}
.bg-primary-bold {
  background-color: var(--primary-400);
}
.bg-black-custom {
  background-color: var(--dark-600);
}

/* BORDER */
.border-primary {
  border-color: var(--primary-300);
}
.border-dark {
  border-color: #707070;
}

/* TEXT */
.text-primary {
  font-weight: 400;
  color: var(--primary-300);
}
.text-dark {
  font-weight: 400;
  color: var(--dark-500);
}
.text-primary-400 {
  font-weight: 300;
  color: var(--primary-400);
}

/* MISC */
.scrollable-element::-webkit-scrollbar {
  width: 6px;
}
.scrollable-element::-webkit-scrollbar-track {
  background: var(--gray);
}
.scrollable-element::-webkit-scrollbar-thumb {
  background: var(--primary-300);
}
